@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-sans text-base font-normal antialiased;
  }

  body {
    @apply m-0 min-h-screen bg-slate-100 text-slate-900;
  }
}